body {
  font-family: sans-serif;
  text-align: left;
}



/* Typography Classes */
.letter-space-0 {
  letter-spacing: 0.1em;
}

/* Color Classes */
.color-violet {
  color: #6200ef;
}
.color-offWhite {
  color: #70707d;
}

/* Component classes */
.flex-container {
  display: flex;
  max-width: 900px;
}

/* Card Classes */
.card {
  box-shadow: 0px 0px 3px black;
  width: 65%;
  height: 100%;
 }

.card-rounded-3 {
  border-radius: 3px;
}

.card-img {
  display: block;
  max-width: 100%;
}

.img-top-rounded {
  border-radius: 3px 3px 0 0;
}

.card-body {
  /* border: solid; */
  padding: 0 1rem;
  height: 100%;
}
.card-head {
  /* border: solid; */
  font-size: 1.5rem;
}
.card-span {
  font-size: 1rem;
  font-weight: 200;
  /* border: solid; */
}

.card-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1em;
  word-spacing: 0.4em;
}

.card-btn {
  background: none;
  border: none;
  font-weight: bolder;
  /* font-size: 1rem; */
}

.card-icon {
  background: none;
  border: none;
  /* font-size: 1rem; */
}

.card-body:hover {
  background-color: #f5f5f5;
}

.btn-hover:hover {
  background-color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
}
