/* Basic Margin Classes */
.m-auto {
    margin: auto;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .mb-1 {
    margin-bottom: 1rem;
  }
  .m-1 {
    margin: 1rem;
  }
  .ml-auto{
      margin-left: auto;
  }
  
  /* Basic Padding Classes */
  .p-0 {
    padding: 0;
  }
  .p-1 {
    padding: 1rem;
  }
  
  .pl-0 {
    padding-left: 0.5rem;
  }
  .pl-1{
      padding-left: 1rem;
  }
  .pr-0{
      padding-right: 0.5rem;
  }
  .pr-1{
      padding-right: 1rem;
  }
  



  /* Basic Width Classes */
  .w-100 {
    width: 100%;
  }
  .w-50 {
    width: 50%;
  }
  
  .w-25 {
    width: 25%;
  }

  /* Basic typography classes */
  .bold{
      font-weight: bold;
  }
  /* Basic FlexBox Classes */
  .flex {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-space-between {
    justify-content: space-between;
  }
  
  .flex-space-evenly {
    justify-content: space-evenly;
  }
  
  .flex-space-center {
    justify-content: center;
  }

  .flex-start{
      justify-content: flex-start;
  }

  .flex-end{
      justify-content: flex-end;
  }
  
  .align-item-center {
    align-items: center;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }

  /* Color Classes */
.color-violet {
    color: #6200ef;
  }
  .color-offWhite {
    color: #70707d;
  }

  .color-white{
      color: whitesmoke;
  }

  .bg-violet{
      background-color:#6200ef ;
  }


  
  /* Component classes */
  .flex-container {
    display: flex;
    max-width: 900px;
    border: solid;
  }


  .list-bullet-none{
      list-style: none;
  }

.header-basic{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    
}

.btn-hover:hover{
    cursor: pointer;
    background-color: rgba(216, 191, 216, 0.164);
    border-radius:100% ;
    
}

.container{
    margin: auto;
    max-width: 900px;
}